extends layout

block content
  h2(style='text-align:center;color:red;')= title
  p(style='text-align:center;color:green;') Welcome to #{title}
  img(class = 'changeImg','src=/images/cup1_long.jpg')
  a(style='text-align:center;color:black;' href='/user/001')= title
  div.controllerInputPosition
    input(value='default value' style='text-align:center;')