extends layout

block content
  script(type='text/javascript').
    $(function(){
      $("#submit").bind('click', function () {
        $.ajax({
          url: 'http://localhost:3000/passed',
          success: function (res) {
            if(res){
              var html = '';
              for(var i = 0; i < res.length; i++){
                html+='<li>ID is:'+res[i].id+'</li><li>NAME is:'+res[i].name+'</li><li>ADRESS is:'+res[i].address+'</li>'
              }
              console.log(11);
              $("#ulID").html(html);
            }
          },
          error:function (err) {
            console.log('server response is error', err);
          }
        });
      });
    });
  h2(style='text-align:center;color:red;') Welcome to #{title}
  p(style='text-align:center;color:green;') Welcome to #{title}
  div(style='text-align:center;')
    input( id='username' name='username' type='text' style='text-align:center;')
    input( id='password' name='password' type='passWord' style='text-align:center;')
    input( id='submit' name='submit' type='button' style='text-align:center;' value='submit')
  ul(id='ulID' style='text-align:center;color:red;list-style: none;')